* {
	box-sizing: border-box;
}

nav {
	padding: 15px;
	background: #9e6f6f;
}

nav a {
	color: #cfcfcf;
	text-decoration: none;
	margin-right: 10px;
}

form {
	margin: 1rem auto;
	padding: 1rem;
	background: #cfcfcf;
	border-radius: 6px;
	max-width: 500px;
}
h1 {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #525252;
}

input,
textarea {
	font-size: 1rem;
	margin-top: 10px;
	width: 100%;
	padding: 5px;
}

textarea {
	height: 200px;
}

button {
	font-size: 1rem;
	margin-top: 10px;
}

.container {
	max-width: 1100x;
	margin: 1rem auto;
}

.form-error {
	background: #fbb;
	color: darkred;
	padding: 0.5rem 1rem;
}

.hoteldiv {
	width: 40%;
	float: left;
	border: 1px solid grey;
	margin: 1%;
	padding: 1%;
}



img {
	width: 85%;
	
}

p {
	text-decoration: none;
	display: block;
}
